* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(rgb(117, 11, 11),rgb(80, 80, 48));
}

.emoji {
  font-size: 10rem;
  cursor: pointer;
  user-select: none;
}

.closed {
  display: none;
}

.open {
  display: none;
}

.active {
  display: block;
}
h1{
    color: aliceblue;
}